@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Loja de vendas @ViewData.</p>
<p>@ViewData["email"]</p>

<adress><strong>More information: </strong></adress> <a href="http://udemy.com.br"